@import url(https://fonts.googleapis.com/css?family=Nunito:wght@300&Roboto:300,400&family=Orbitron:wght@700);
body {
    margin:0;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    position: sticky;
}

/*change colour of links on hover*/
.navbar a:hover{
    background-colour: #ddd;
    color:black;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
}
/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

.card {
  background-color: whitesmoke;
  color: darkslategray;
  border: thin;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scroll {
  max-height: 175px;
  overflow-y:auto;
}
.searchbar {
    overflow:hidden;
}

.searchbar input[type=text]{
    font-size:17px;
}

.searchbar button:hover{
    background: #ccc;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
   display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.8s;
  animation: animatezoom 0.8s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.form-group {
  max-width: fit-content;
}

.alert-error {
  color: #9C1A1C;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 65px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: cornflowerblue;
}

/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  z-index: 0;
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt {
  font-size: 13px;
  color: #666;
}

#output {
  padding: 25px 15px;
  background: #222;
  border: 1px solid #222;
  max-width: 350px;
  margin: 35px auto;
  font-family: 'Roboto', sans-serif !important;
}

/**CHECKBOX STYLING**/

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.date-time {
  font-weight: bold;
  font-size: larger;
  display: inline;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.date-time .date {
  padding-right: 40px;
  padding-bottom: 40px;
}

.date-time .time {
  padding-left: 40px;

}

.fixture-teams {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.game-results {
  display: inline-block;
  font-weight: bold;
}

.game-results > p.W{
  display: inline-block;
  font-weight: bold;
  color: whitesmoke;
  background-color: greenyellow;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.game-results > p.D{
  display: inline-block;
  font-weight: bold;
  color: whitesmoke;
  background-color: dimgrey;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.game-results > p.L{
  display: inline-block;
  font-weight: bold;
  color: whitesmoke;
  background-color: red;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.goals {
  margin: 0px;
  font-weight: bold;
}

.goals-g {
  margin: 0px;
  color: green;
  font-weight: bold;
}

.leagues {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.logo-button {
  padding-top: 0;
  background: no-repeat center center;
  height: 9em;
  color: transparent;
}

.logo {
  padding-top: 0;
  background: no-repeat center center;
  height: 2em;
  color: transparent;
  float: left;
  text-align: left;
}

.main_logo {
  padding-top: 0;
  background: no-repeat center center;
  height: 4em;
  color: transparent;
}

/*#sidebar-wrapper {*/
/*    min-height: 100vh;*/
/*    height: 100vh; !* Add height *!*/
/*    overflow-y: auto;  !* Add overflow-y *!*/
/*    overflow-x: hidden;  !* Add overflow-x *!*/
/*    position: fixed;*/
/*}*/

/*#sidebar .list-group {*/
/*    min-height: 100vh;*/
/*}*/
/*#sidebar i {*/
/*    margin-right: 6px;*/
/*}*/

/*#sidebar .list-group-item {*/
/*    border-radius: 0;*/
/*    color: #ccc;*/
/*    border-left: 0;*/
/*    border-right: 0;*/
/*    border-color: #2c2c2c;*/
/*    white-space: normal;*/
/*}*/

/* highlight active menu */
/*#sidebar .list-group-item:not(.collapsed) {*/
/*    background-color: #222;*/
/*}*/

/*@media (max-width:768px) {*/
/*    #sidebar {*/
/*        min-width: 35px;*/
/*        max-width: 40px;*/
/*        overflow-y: auto;*/
/*        overflow-x: visible;*/
/*        transition: all 0.25s ease;*/
/*        transform: translateX(-45px);*/
/*        position: fixed;*/
/*    }*/

/*    #sidebar.show {*/
/*        transform: translateX(0);*/
/*    }*/

/*    #sidebar::-webkit-scrollbar{ width: 0px; }*/

/*    #sidebar, #sidebar .list-group {*/
/*        min-width: 1px;*/
/*        overflow: visible;*/
/*    }*/
/*    !* overlay sub levels on small screens *!*/
/*    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {*/
/*        position: relative;*/
/*        z-index: 1;*/
/*        width: 190px;*/
/*        top: 0;*/
/*    }*/
/*    #sidebar .list-group > .list-group-item {*/
/*        text-align: center;*/
/*        padding: .75rem .5rem;*/
/*    }*/
/*    !* hide caret icons of top level when collapsed *!*/
/*    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,*/
/*    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {*/
/*        display:none;*/
/*    }*/
/*}*/

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.modal-backdrop {
    z-index: 0;
}

#table_button {
    width: 10%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 5px 0px inset, rgba(0, 0, 0, 0.15) 0px -8px 8px 0px inset, rgba(0, 0, 0, 0.1) 0px -16px 16px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
    color: #222222;
}

.modal-content {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  background-color: transparent;
  transition: all 1s ease;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
  background-color: lightgray;
  transition: all 1s ease;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar li .submenu{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  border-bottom: solid 1px darkgrey;
  transition: all 1.5s ease;
}

.jumbotron-fluid {
  border: 2px solid white;
  background-color: #363945;
}

.jumbotron-fluid .container {
  color: white;
}

.jumbotron-fluid:hover {
  opacity: .7;
}

#top\ jumbo {
  background-color: darkseagreen;
  color: white;
}

.jumbotron .my-4 {
  border-color: white;
}

.outcome-outer {
  padding-bottom: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  font-size: large;
  font-weight: 700;
}

.outcome {
  margin: 0px;
  color: red;
  display: inline;
}

.outcome-g {
  margin: 0px;
  color: green;
  display: inline;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.70em;
  height: 1.70em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25em;
  width: 1.25em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.75em);
  -ms-transform: translateX(1.75em);
  transform: translateX(1.75em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-check-label{
  padding-left: 5px;
  padding-bottom: 5px;
}