<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head_scripts %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    <style></style>
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="/">Bet Assist</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li {% if request.path == '/' %} class="nav-item active"
                    {% else %} class="nav-item"
                    {% endif %}>
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li {% if '/all_games' in request.path %} class="nav-item active"
                    {% else %} class="nav-item"
                    {% endif %}>
                    <a class="nav-link" onclick="window.location.href='{{ url_for( 'all_games', cl='premiership') }}';">All Games</a>
                </li>
                <li {% if '/over2' in request.path %} class="nav-item active"
                    {% else %} class="nav-item"
                    {% endif %}>
                    <a class="nav-link" onclick="window.location.href='{{ url_for( 'over2', cl='premiership') }}';">Over 2.5 Goals</a>
                </li>
                <li {% if '/btts' in request.path %} class="nav-item active"
                    {% else %} class="nav-item"
                    {% endif %}>
                    <a class="nav-link" onclick="window.location.href='{{ url_for( 'btts', cl='premiership') }}';">BTTS</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid ">
    {% if request.path != '/' %}
    <div class="container-fluid ">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3 accordion">
            <ul class="nav flex-column" id="nav_accordion">
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/gb-eng.png"
                          srcset="https://flagcdn.com/40x30/gb-eng.png 2x,
                            https://flagcdn.com/60x45/gb-eng.png 3x"
                          width="20"
                          height="15"
                          alt="England"> England
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="premiership" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='premiership') }}';">
                                <img class="logo" src="{{ url_for('static', filename='premier-league.png') }}">  Premier League
                            </button>
                        </li>
                        <li>
                            <button role="button" name="league" value="championship" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='championship') }}';">
                                <img class="logo" src="{{ url_for('static', filename='championship.png') }}"> Championship
                            </button>
                        </li>
                        <li>
                            <button name="league" value="league 1" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='league 1') }}';">
                                <img class="logo" src="{{ url_for('static', filename='league1.png') }}">  League 1
                            </button>
                        </li>
                        <li>
                            <button name="league" value="league 2" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='league 2') }}';">
                                <img class="logo" src="{{ url_for('static', filename='league2.png') }}">  League 2
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/gb-sct.png"
                          srcset="https://flagcdn.com/40x30/gb-sct.png 2x,
                            https://flagcdn.com/60x45/gb-sct.png 3x"
                          width="20"
                          height="15"
                          alt="Scotland"> Scotland
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="scottish premiership" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='scottish premiership') }}';">
                                <img class="logo" src="{{ url_for('static', filename='scotprem.png') }}"> Premiership
                            </button>
                        </li>
                        <li>
                            <button name="league" value="Scottish Championship" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='scottish championship') }}';">
                                <img class="logo" src="{{ url_for('static', filename='scotchamp.png') }}"> Championship
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/es.png"
                          srcset="https://flagcdn.com/40x30/es.png 2x,
                            https://flagcdn.com/60x45/es.png 3x"
                          width="20"
                          height="15"
                          alt="Spain"> Spain
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="la liga" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='la liga') }}';">
                                <img class="logo" src="{{ url_for('static', filename='laliga.png') }}"> La Liga
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/de.png"
                          srcset="https://flagcdn.com/40x30/de.png 2x,
                            https://flagcdn.com/60x45/de.png 3x"
                          width="20"
                          height="15"
                          alt="Germany"> Germany
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="bundesliga" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='bundesliga') }}';">
                                <img class="logo" src="{{ url_for('static', filename='bundesliga.png') }}"> Bundesliga
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/fr.png"
                          srcset="https://flagcdn.com/40x30/fr.png 2x,
                            https://flagcdn.com/60x45/fr.png 3x"
                          width="20"
                          height="15"
                          alt="France"> France
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="ligue 1" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='ligue 1') }}';">
                                <img class="logo" src="{{ url_for('static', filename='ligue1.png') }}"> Ligue 1
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/it.png"
                          srcset="https://flagcdn.com/40x30/it.png 2x,
                            https://flagcdn.com/60x45/it.png 3x"
                          width="20"
                          height="15"
                          alt="Italy"> Italy
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="serie a" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='serie a') }}';">
                                <img class="logo" src="{{ url_for('static', filename='seriea.png') }}"> Serie A
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/nl.png"
                          srcset="https://flagcdn.com/40x30/nl.png 2x,
                            https://flagcdn.com/60x45/nl.png 3x"
                          width="20"
                          height="15"
                          alt="Netherlands"> Netherlands
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="eredivisie" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='eredivisie') }}';">
                                <img class="logo" src="{{ url_for('static', filename='eredivisie.png') }}"> Eredivisie
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/us.png"
                          srcset="https://flagcdn.com/40x30/us.png 2x,
                            https://flagcdn.com/60x45/us.png 3x"
                          width="20"
                          height="15"
                          alt="United States"> USA
                    </a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button type="button" name="league" value="mls" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='mls') }}';">
                                <img class="logo" src="{{ url_for('static', filename='mls.png') }}"> MLS
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link dropdown-btn">
                        <img
                          src="https://flagcdn.com/20x15/eu.png"
                          srcset="https://flagcdn.com/40x30/eu.png 2x,
                            https://flagcdn.com/60x45/eu.png 3x"
                          width="20"
                          height="15"
                          alt="Europe"> Europe</a>
                    <ul class="submenu collapse dropdown-container">
                        <li>
                            <button name="league" value="champions league" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='champions league') }}';">
                                <img class="logo" src="{{ url_for('static', filename='championsleague.png') }}"> Champions League
                            </button>
                        </li>
                        <li>
                            <button name="league" value="europa league" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='europa league') }}';">
                                <img class="logo" src="{{ url_for('static', filename='europaleague.png') }}"> Europa League
                            </button>
                        </li>
                        <li>
                            <button name="league" value="europa conference league" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for( page, cl='europa conference league') }}';">
                                <img class="logo" src="{{ url_for('static', filename='europaconferenceleague.png') }}"> Europa Conference League
                            </button>
                        </li>
                    </ul>
                </li>
{#                <li class="nav-item has-submenu">#}
{#                    <a class="nav-link dropdown-btn">🇺🇸 TEST  </a>#}
{#                    <ul class="submenu collapse dropdown-container">#}
{#                        <li>#}
{#                            <button type="button" name="league" value="test" class="nav-link" data-toggle="modal" data-target="#searchingModal" onclick="window.location.href='{{ url_for('test_page') }}';">#}
{#                                <img class="logo" src="{{ url_for('static', filename='mls.png') }}"> Test#}
{#                            </button>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
          </div>
        </nav>
    </div>
    {% endif %}
    <br>
        <div class="container-fluid col-md-{% if request.path != '/' %}9 text-center" style="padding-left: 10%{% else %}12 text-center{% endif %}">
            {% block content %}
                {% block scripts %}
                    <script>
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>
                {% endblock scripts %}
            {% endblock %}
        </div>
    </div>
        <div class="footer">
          <div class="container" style="text-align:center">
              <hr>
              <small class="text-center"><span>&#169; Bet Assist 2022</span></small>
          </div>
        </div>
        <div class="modal fade" id="searchingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <h3 class="text-center">Fetching Matches...</h3>
                  <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>

{#    {% block scripts %}{% endblock %}#}
        <script>
            let dropdown = document.getElementsByClassName("dropdown-btn");
            let i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              let dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
              } else {
                dropdownContent.style.display = "block";
              }
              });
            }
        </script>
        <script>
            $(document).ready(function() {
              $("form > button").on("submit", function(e) {
                $("#searchingModal").modal(
                    {
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard#}
                    show: true, //Display loader!
                    zIndex: 1000
                    }
                );
                setTimeout(function() {
                  $("#searchingModal").modal("hide");
                }, $(document).ready());
              });
            });
        </script>
        <script>
            function showSidebarMenu() {
                const sidebarMenu = document.querySelector('#sidebarMenu');

                if (sidebarMenu.style.display === "contents") {
                    sidebarMenu.style.display = "none";
                    console.log("inside true loop - not showing");
                } else {
                    sidebarMenu.style.display = "contents";
                    console.log("inside false loop - showing");
                }
            }
        </script>
    </body>
</html>