{% extends "base.html" %}
{% block title %}Bet Assist Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Bet Assist</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<div class="row">
    <div class="jumbotron jumbotron-fluid col-md-4">
      <a class="container" href="/all_games" role="button">
        <h2 class="display-6">All Games</h2>
          <hr class="my-4">
        <p class="lead">Show all the upcoming fixtures from your chosen league</p>
      </a>
    </div>
    <div class="jumbotron jumbotron-fluid col-md-4">
      <a class="container" href="/over2" role="button">
        <h2 class="display-6">Over 2.5 Goals</h2>
          <hr class="my-4">
        <p class="lead">Show the fixtures that have a greater chance of having 3 or more goals</p>
      </a>
    </div>
    <div class="jumbotron jumbotron-fluid col-md-4" >
      <a class="container" href="/btts" role="button">
        <h2 class="display-6">Both Teams To Score</h2>
          <hr class="my-4">
        <p class="lead">Show the fixtures that have a greater chance of both teams scoring</p>
      </a>
    </div>
</div>
{% endblock %}
