{% extends "base.html" %}
{% block title %}Bet Assist Home{% endblock %}
{% block content %}
<div class="jumbotron" id="top jumbo">
  <h1 class="display-4" style="color: #363945">Bet Assist</h1>
  <p class="lead">A quick and easy way to get important info and stats on your favourite leagues games</p>
  <hr class="my-4">
    <p class="lead">Choose to view all upcoming fixtures, over 2.5 goal predictions or both teams to score predictions*</p>
  <p style="font-size: x-small">*BetAssist accepts no liability or responsibility to any person as a consequence of any reliance upon the information contained in this site</p>
</div>
<div class="row">
    <div class="jumbotron jumbotron-fluid col-md-4">
      <a class="container" href="/all_games" role="button">
        <h2 class="display-6">All Games</h2>
          <hr class="my-4">
        <p class="lead">Show all the upcoming fixtures from your chosen league</p>
      </a>
    </div>
    <div class="jumbotron jumbotron-fluid col-md-4">
      <a class="container" href="/over2" role="button">
        <h2 class="display-6">Over 2.5 Goals</h2>
          <hr class="my-4">
        <p class="lead">Show the fixtures that have a greater chance of having 3 or more goals</p>
      </a>
    </div>
    <div class="jumbotron jumbotron-fluid col-md-4" >
      <a class="container" href="/btts" role="button">
        <h2 class="display-6">Both Teams To Score</h2>
          <hr class="my-4">
        <p class="lead">Show the fixtures that have a greater chance of both teams scoring</p>
      </a>
    </div>
</div>
{% endblock %}
