{% extends "base.html" %}
{% block content %}
<div class="leagues">
    <form action="" method="post">
        <input type="submit" name="league" value="Premiership">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="Championship">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="League 1">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="League 2">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="National League">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="La Liga">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="Bundesliga">
    </form>
    <form action="" method="post">
        <input type="submit" name="league" value="Ligue 1">
    </form>
</div>
    <hr>
{% endblock %}