{% extends "base.html" %}
{% block title %}Bet Assist All Games{% endblock %}
{% block content %}
    <h1>
        <img class="main_logo" src="{{ url_for('static', filename=logo) }}" alt="">
    </h1>
    <div>
        <div class="form-check form-check-inline">
            <label class="switch">
                <input type="checkbox" role="switch" id="checkBTTS">
                <span class="slider round"></span>
            </label>
            <label class="form-check-label" for="checkBTTS">BTTS</label>
        </div>
        <div class="form-check form-check-inline">
            <label class="switch">
                <input type="checkbox" role="switch" id="checkOver2">
                <span class="slider round"></span>
            </label>
            <label class="form-check-label" for="checkBTTS">Over 2.5</label>
        </div>
    </div>
    {% for result in res %}
    <div class="card" id={%
                    if res[result]['btts'] and res[result]['over2.5'] %}0{%
                    elif res[result]['over2.5']%}1{%
                    elif res[result]['btts']%}2{%
                    else %}9{% endif %}>
        <div class="card-body">
            <!-- Team standings, names and total goal average -->
            <div class="date-time">
                <p>
                    <span class="date">📅 {{ res[result]['date'] }}</span>
                    <span class="time">⏰ {{ res[result]['time'] }}</span>
                </p>
                <div id="game-info">
                    <div class="fixture-teams">{{ res[result]['home_team'] }}</div>
                    <div class="fixture-teams-spacer">vs</div>
                    <div class="fixture-teams">{{ res[result]['away_team'] }}</div>
                </div>
            </div>
            <div>
                <div class="game-results">
                    {% for item in res[result]['home_results']  %}
                        {% for game in item %}
                            <p class="{{ game }}">{{ game }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                <!-- Goals scored, conceded and results for the away team-->
                <div class="game-results">
                    {% for item in res[result]['away_results']  %}
                        {% for game in item %}
                            <p class="{{ game }}">{{ game }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div id="game-info">
                    <div class="game-info-numbers">{{ res[result]['home_average_goals'] }}</div>
                    <div class="game-info-text">Average Match Goals</div>
                    <div class="game-info-numbers">{{ res[result]['away_average_goals'] }}</div>
                </div>
                <div id="game-info">
                    <div class="game-info-numbers goals {% if res[result]['home_goals_scored'] > 1.5 %}green{% endif %}">{{ res[result]['home_goals_scored'] }}</div>
                    <div class="game-info-text">Average Scored</div>
                    <div class="game-info-numbers goals {% if res[result]['away_goals_scored'] > 1.5 %}green{% endif %}">{{ res[result]['away_goals_scored'] }}</div>
                </div>
                <div id="game-info">
                    <div class="game-info-numbers goals {% if res[result]['home_goals_conceded'] > 1.5 %}green{% endif %}">{{ res[result]['home_goals_conceded'] }}</div>
                    <div class="game-info-text">Average Conceded</div>
                    <div class="game-info-numbers goals {% if res[result]['home_goals_conceded'] > 1.5 %}green{% endif %}">{{ res[result]['away_goals_conceded'] }}</div>
                </div>
                <div id="game-info">
                    <div class="game-info-numbers">&nbsp;{{ res[result]['home_team_btts_rating'] }}%  </div>
                    <div class="game-info-text">Previous BTTS</div>
                    <div class="game-info-numbers">&nbsp;{{ res[result]['away_team_btts_rating'] }}%</div>
                </div>
                <div id="game-info">
                    <div class="game-info-numbers">&nbsp;{{ res[result]['home_team_over2_rating'] }}%  </div>
                    <div class="game-info-text">Previous Over 2.5</div>
                    <div class="game-info-numbers">&nbsp;{{ res[result]['away_team_over2_rating'] }}%</div>
                </div>
            </div>
        </div>
        <div class="outcome-outer" style="padding-bottom: 0px">
            <div class="outcome {% if res[result]['btts'] %}green{% endif %}">BTTS Avg</div>
            <div class="outcome {% if res[result]['total_average_goals'] > 3.25 %}green{% endif %}">Combined Goal Avg</div>
            <div class="outcome {% if res[result]['over2.5'] %}green{% endif %}">Over 2.5 Avg</div>
        </div>
        <div class="outcome-outer" style="padding-top: 0px">
            <div class="outcome {% if res[result]['btts'] %}green{% endif %}" data-toggle="tooltip" title="% of previous matches that where btts">{{ res[result]['match_btts_rating']}}%</div>
            <div class="outcome {% if res[result]['total_average_goals'] > 3.25 %}green{% endif %}" data-toggle="tooltip" title="combined goal average">{{ res[result]['total_average_goals'] }}</div>
            <div class="outcome {% if res[result]['over2.5'] %}green{% endif %}" data-toggle="tooltip" title="% of previous matches that where over2.5">{{ res[result]['match_over2_rating']}}%</div>
        </div>
    </div>
    {% endfor %}
    <div class="modal fade" id="myOutput" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div id="fs-standings">
              </div>
                <script>
                    (function (w,d,s,o,f,js,fjs)
                        { w['fsStandingsEmbed']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
                            js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
                            js.id = o;
                            js.src = f;
                            js.async = 1;
                            fjs.parentNode.insertBefore(js, fjs);
                        } (window, document, 'script', 'mw', 'https://cdn.footystats.org/embeds/standings.js'));
                    mw('params', { leagueID: {{ table_id }} });
                </script>
                  <script>
                    const btts = document.querySelector('#checkBTTS');
                    const over2 = document.querySelector('#checkOver2')
                    const card = document.getElementsByClassName("card");

                    btts.addEventListener("click", function() {
                        checkBoth();
                    });

                    over2.addEventListener("click", function () {
                        checkBoth();
                    });

                    //TODO:  work on algorithm to check card[i] and card[i + 1] to give better results
                    function checkBoth() {
                        for(let i = 0; i < card.length; i++) {
                            if (btts.checked && over2.checked) {
                                if(card[i].id === "0"){
                                    card[i].style.display = ""
                                } else {
                                    card[i].style.display = "none";
                                }
                            } else if(btts.checked){
                                if(card[i].id === "2" || card[i].id === "0"){
                                    card[i].style.display = ""
                                } else {
                                    card[i].style.display = "none";
                                }
                            } else if(over2.checked) {
                                if(card[i].id === "1" || card[i].id === "0"){
                                    card[i].style.display = ""
                                } else {
                                    card[i].style.display = "none";
                                }
                            } else {
                                card[i].style.display = "";
                            }
                        }
                    }
                </script>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    {% if table_id != 0000 %}
        <button type="button" id="table_button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myOutput">League Table</button>
    {% endif %}

{% endblock %}
